@use "src/styles/variables.scss" as var;
@use "src/styles/mixins.scss" as mixins;

.start-wrapper {
  h1 {
    font-size: 1.5em;
    // text-shadow: 2px 2px var.$tetriarycolor;
    // background-color: var.$tetriarycolor;
  }

  color: var.$primarycolor;
  @include mixins.wrapperStyles;
  @include mixins.backgroundStyles("src/assets/bgstart.png");
}

.img-wrapper {
  width: 200px;
  img {
    width: 100%;
  }
}
.form-wrapper {
  background-color: var.$tetriarycolor;
  padding: 10px;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .play-btn {
      @include mixins.playBtnStyles;
    }
  }
}
