@use "src/styles/variables.scss" as var;
@use "src/styles/mixins.scss" as mixins;

.start-wrapper {
  h1 {
    font-size: 1em;
  }
  color: var.$primarycolor;
  @include mixins.wrapperStyles;

  .img-wrapper {
    width: 200px;
    img {
      width: 100%;
    }
  }
  .form-wrapper {
    width: 90vw;
    height: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    @include mixins.desktop {
      width: 70vh;
      height: 70vh;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
  .players-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 0.8em;

    .playerslist {
      border-radius: 10px;
      font-size: 0.5em;
      list-style: none;
      color: black;
      margin: 2px;
      padding: 0;
      background-color: white;
      max-height: 150px;
      width: 200px;
      max-width: 90%;
      overflow-y: scroll;
      .play-btn {
        font-size: 4em;
      }
      li {
        height: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        &:hover {
          cursor: pointer;
        }
        input {
          &:hover {
            cursor: pointer;
          }
        }
        label {
          display: flex;
          align-items: center;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    button {
      &:focus {
        outline: 3px solid #0f0f0f;
      }
    }
  }

  .selected {
    background-color: rgb(139, 204, 152);
  }

  .play-btn {
    @include mixins.playBtnStyles;
    &:disabled {
      opacity: 0.5;
    }
    &:focus {
      outline: 3px solid #0f0f0f;
    }
  }

  .newplayerbtn {
    @include mixins.playBtnStyles;
    background-color: #0f0f0f;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    shadow &:hover {
      cursor: pointer;
    }
  }
}
