@use "src/styles/variables.scss" as var;
@use "src/styles/mixins.scss" as mixins;

.collection-wrapper {
  color: var.$primarycolor;
  @include mixins.wrapperStyles;
  .pokis-wrapper {
    background-color: var.$tetriarycolor;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    height: 50vh;
    overflow: auto;
    @include mixins.desktop {
      width: 80%;
    }
    .pokemon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 150px;
      @include mixins.desktop {
        width: 170px;
        height: 170px;
      }
      .img-container {
        width: 120px;
        height: 120px;
        @include mixins.desktop {
          width: 150px;
          height: 150px;
        }
        img {
          width: 100%;
        }
      }
      span {
        font-size: 0.5em;
      }
    }
  }
  .play-btn {
    @include mixins.playBtnStyles;

    &:focus {
      outline: 3px solid #0f0f0f;
    }
  }
  .cancel-btn {
    @include mixins.cancelBtnStyles;
  }
}
