@use "src/styles/variables.scss" as var;
@use "src/styles/mixins.scss" as mixins;

.collection-wrapper {
  color: var.$primarycolor;
  @include mixins.wrapperStyles;
  .pokis-wrapper {
    background-color: var.$tetriarycolor;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    height: 50vh;
    overflow: auto;
    @include mixins.desktop {
      width: 80%;
    }
  }
  .play-btn {
    @include mixins.playBtnStyles;

    &:focus {
      outline: 3px solid #0f0f0f;
    }
  }
  .cancel-btn {
    @include mixins.cancelBtnStyles;
  }
}
